*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
}


.container{
  background: #252525;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 310px;
}

.clock{
  background-color: rgba(0, 0, 0, .1);
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid rgba(255, 255, 255, .2);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, .9);
}

.clock span{
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
}

.clock span b{
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  color:gold;
  font-size: 20px;
}

.clock::after{
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: gold;
  border-radius: 50%;
}

.hand{
  display: flex;
  justify-content: center;
  align-items: end;
}

.hand i{
  position: absolute;
  height: var(--l);
  width: 3px;
  background-color: var(--c);
  border-radius: 10px;
}