@import "tailwindcss";

#hour{
  position: absolute;
  background-color: black;
  height: 26%;
  width: 1.6%;
  border-radius: 20px;
  bottom:50%;
  left:50%;
  transform: translateY(-100%);
  transform: translateX(-50%);
  opacity: .8;
  transform-origin: bottom;
}

#minute{
  position: absolute;
  background-color: black;
  height: 30%;
  width: 1%;
  border-radius: 20px;
  bottom:50%;
  left:50%;
  transform: translateY(-100%);
  transform: translateX(-50%);
  opacity: .7;
  transform-origin: bottom;
}

#second{
  position: absolute;
  background-color: black;
  height: 33%;
  width: .8%;
  border-radius: 20px;
  bottom:50%;
  left:50%;
  transform: translateY(-100%);
  transform: translateX(-50%);
  opacity: .6;
  transform-origin: bottom;
}

